.siteHeader{
    padding: 24px;
    background-color: #Fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position:fixed;
    top: 0;

    .serverName {
        color: #29292e;
        font-size:28px;
        
    }

    .discordButton{
        background-color: #fff;
        padding:10px 20px;
        color: #29292e;
        border: 1px solid #171717;
        border-radius: 10px;
        cursor: pointer;
        transition: 0.4s;
        
        &:hover{
            color: #fff;
            background-color: #171717;
        }
    }
    
}